  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
  * {box-sizing: border-box;}
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  body { 
    margin: 0,auto;
    background-color: rgba(87, 92, 87, 0.8);
    font-family: 'Montserrat'
    

  }

  


  /* NAV */
  @media screen and (max-width: 1251px) {
    nav .nav-menu {
      position: fixed;
      left: 0;
      right: 0;
      top: 80px; /* Adjust the top position as needed */
      bottom: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      transition: bottom 0.5s ease-in-out;
      overflow: scroll;
    }

    nav.opened .nav-menu {
      bottom: 45%;
    }

    nav .nav-item {
      margin: 10px 0;
    }

    nav .dropdown-menu {
      position: relative;
      top: 0;
      margin: 0 1.5em;
      width: 100%; /* Full width for the dropdown menu */
      font-size: 20rem;
    }

    nav .btn-hamburger {
      display: block;
    }
  }

  #wrap {
    position: relative;
    z-index: 1;
    margin-top: 70px;
    min-height: 100%;
  }
 
  nav {
    font-family: 'Montserrat';
    position: fixed;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    padding: 0 1.5em;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  }

  nav a {
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }

  nav .logo {
    font-size: 1.2rem;
    line-height: 80px;
    color: #fff;
  }

  nav .nav-menu {
    list-style: none;
    display: flex;
  }

  nav .nav-item {
    margin-right: 15px;
  }

  nav .nav-item:last-child {
    margin-right: 0;
  }

  nav .nav-item > a,
  nav .dropdown a {
    display: flex;
    padding: 0.5em 1.5em;
    line-height: 50px;
    color: #fff;
  }

  nav .nav-item > a:hover,
  nav .dropdown a:hover {
    background-color: #717171;
  }

  .nav-item .projects {
    font-size: 1.5rem;
  }

  nav .dropdown a::after {
    content: '';
    display: inline-block;
    margin-left: .5em;
    vertical-align: middle;
    border-top: .3em solid #fbf8f8;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
  }

  nav .dropdown.show a::after {
    transform: rotate(180deg);
  }

  nav .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: .5em 0;
    margin-top: -.5em;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .5em;
    background-color: #070707;
  }

  nav .dropdown.show .dropdown-menu {
    display: block;
  }

  nav .dropdown-item {
    display: block;
    padding: 0 1.5em;
    font-size: .875em;
    color: #000;
    line-height: 3;
    text-decoration: none;
  }

  nav .btn-hamburger {
    display: none;
    cursor: pointer;
  }

  nav .btn-hamburger span {
    display: block;
    width: 10px;
    height: 4px;
    background-color: #000000;
    margin: 6px;
    border-radius: 2px;
    transition: .3s ease-in-out;
  }

  nav .btn-hamburger span:nth-child(4),
  nav .btn-hamburger span:nth-child(5) {
    position: absolute;
    top: 10px;
    opacity: .5;
  }

  nav .btn-hamburger span:nth-child(4) {
    transform: rotate(45deg) scale(0);
  }

  nav .btn-hamburger span:nth-child(5) {
    transform: rotate(-45deg) scale(0);
  }

  nav.opened .btn-hamburger span:nth-child(4) {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }

  nav.opened .btn-hamburger span:nth-child(5) {
    opacity: 1;
    transform: rotate(-45deg) scale(1);
  }

  nav.opened .btn-hamburger span:nth-child(1),
  nav.opened .btn-hamburger span:nth-child(2),
  nav.opened .btn-hamburger span:nth-child(3) {
    opacity: 0;
  }

  @media screen and (max-width: 1500px) {
    nav .nav-menu {
      position: fixed;
      left: 0;
      right: 0;
      top: 70px;
      bottom: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;
      transition: bottom .5s ease-in-out;
      overflow: hidden;
    }

    nav.opened .nav-menu {
      bottom: -0%;
      overflow: scroll;
    }

    nav .nav-item {
      margin: 10px 0;
    }

    nav .dropdown-menu {
      position: relative;
      top: 0;
      margin: 0 1.5em;
      font-size: 0.8rem;
    }

    nav .btn-hamburger {
      display: block;
    }
  }

  .youtube-link {
    position: fixed;
    left: 20px;
    bottom: 20px;
    color: #000;
    text-decoration: none;
    font-size: 12px;
  }
/* NAV */


/* Gallery CSS */
    .mySlides {display: none}
  img {vertical-align: middle;}

  /* Slideshow container */
  .slideshow-container {
    max-width: 100%;
    padding-top: 10px;

    position: relative;
    margin: auto;
  }

  .mySlides-fade{
    height: auto;
    width: 90%;
    border-radius: 0.75rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    padding-bottom: -10px;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
/* Gallery CSS */

/* Content 1. section */
  .bev{
    width: 100%;
    border-radius: 0.75rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    background-color: rgba(51, 43, 43, 0.5);
    background-repeat: no-repeat;
    width: 100%;
  }

  .bevezeto{
    padding: 20px;
    font-size: 1.3rem;
    border: 0;
    color: #fffcfc;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0 auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  h3{
    font-size: 1.6rem;
    border: 0;
    color: #111;
    padding: 20px;
    border: 0;
    color: #f1ecec;
    line-height: 1.2em;
    font-weight: 500;
    margin: 0 auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  .bevcolor{
    background-color: rgb(69, 58, 58, 0.10);
    width: 80%;
    margin-left: 20px;
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 1420px) {
    .bev,.bevezeto {
      font-size: 20px;
      margin: auto;
    }
    h3{
      font-size: 30px;
    }
  }
/* Content 1. section */

/* Content 2. section */
  /* Font */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  /* Design */
  .main{
    max-width: 100%;
    margin: 0 auto;
  }

  h1 {
      font-size: 30px;
      font-weight: 700;
      text-align: center;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .cards_item {
    display: flex;
    padding: 1rem;
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }

  .card {
    background: linear-gradient(to bottom left, rgb(28, 65, 27) 40%, rgb(13, 118, 60) 100%);
    border-radius: 0.75rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
  }

  .card_content {
    padding: 1rem;
    background: linear-gradient(to bottom left, rgb(28, 65, 27) 40%, rgb(13, 118, 60) 100%);
  }

  .card_title {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }

  .card_text {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .made_by{
    font-weight: 400;
    font-size: 13px;
    margin-top: 35px;
    text-align: center;
  }
/* Content 2. section */

/* Content 3. section */
  .section{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.751);
    border-radius: 0.75rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  }
  .section h2{
    padding: 20px;
    font-size: 30px;
    border: 0;
    color: #fffcfc;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0 auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  .section-text{
    padding: 20px;
    font-size: 20px;
    border: 0;
    color: #fffcfc;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0 auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  @media only screen and (max-width: 1420px) {
    .section {
      font-size: 20px;
      margin: auto;
    
    }
    .section h2{
      font-size: 30px;
    }
  }

  hr{
    color:white;
    width: 100%;
    background-color: white;
  }
/* Content 3. section */

/* Content 4. section */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

  /* ------------- */
  /* GLOBAL STYLES */
  /* ------------- */
  .container2 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    /* background-color: #717171; */
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .brand {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .brand span {
    color: #ffffff;
  }

  .wrapper > * {
    padding: 1em;
  }

  /* ------------------- */
  /* COMPANY INFORMATION */
  /* ------------------- */

  .company-info {

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .company-info h3,
  .company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
  }

  /* ------- */
  /* CONTACT */
  /* ------- */

  .contact {

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  /* ---- */
  /* FORM */
  /* ---- */

  .contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .contact form label {
    display: block;
  }

  .contact form p {
    margin: 0;
  }

  .contact form .full {
    grid-column: 1 / 3;
  }

  .contact form button,
  .contact form input,
  .contact form textarea {
    width: 100%;
    padding: 1em;
  
    border-radius: 4px;
  }

  .contact form textarea {
    resize: none;
  }

  .contact form button {
  
    border: 0;
    color: #020202;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
  }

  .contact form button:hover,
  .contact form button:focus {
    background: #093814;
    color: #080808;
    outline: 0;
    transition: background-color 2s ease-out;
  }

  /* ------------- */
  /* MEDIA QUERIES */
  /* ------------- */

  @media only screen and (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
      padding: 2em;
    }

    .company-info {
      border-radius: 4px 0 0 4px;
    }

    .contact {
      border-radius: 0 4px 4px 0;
    }

    .company-info h3,
    .company-info ul,
    .brand {
      text-align: left;
    }
  }
/* Content 4. section */

/* Footer */
  .footer .container{
    
    width: 100%;
    margin:auto;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }

  .footer{
    background-color: black;
    width: 100%;   
  }

  .footer-col{
    width: 25%;
    padding: 0 15px;
  }

  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }

  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }

  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }

  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }

  .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }

  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
/* Footer */

/* Áraink */

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  @media only screen and (max-width: 600px) {
    th, td {
      padding: 8px;
      font-size: 12px;
    }
  }
/* Áraink */

  /* .content{
    padding: 20px;
    font-size: 30px;
    border: 0;
    color: #fffcfc;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0 auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  .content-text{
    padding: 20px;
    font-size: 20px;
    border: 0;
    color: #fffcfc;
    line-height: 1.7em;
    font-weight: 500;
    margin: 0 auto;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  .araink_img{
  
    width: 100%;
    max-width: 100%;
    padding: 20px;
    height: auto;
    

  } */


/* Kapcsolat */
  .google-map {
    padding-bottom: 50%;
    position: relative;
  }

  .google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    padding: 40px;
  }
/* Kapcsolat */

/* Lakásfelujitás */
  .araink_img{
  
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.75rem;
    margin-bottom: 10px;

  }   
/* Lakásfelujitás */

/* Szolgáltatások */
  .tovabb{
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 0.75rem;
    font-family: 'Montserrat';
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    font-size: 0.9rem;
  }

  .tovabb:hover{
    background: #093814;
    color: #080808;
    outline: 0;
    transition: background-color 2s ease-out;
    color:white;
  }
/* Szolgáltatások */